<div id="auth-modal" class="modal">
  <ul class="nav nav-tabs">
    <li id="sign-in-tab" class="modal-tab"><a href="">Sign In</a></li>
    <li id="sign-up-tab" class="modal-tab"><a href="">Join Us</a></li>
  </ul>
  
  <div id="modal-content">
    <div id="modal-errors" class="alert alert-danger col-xs-7 hidden"></div>
    
    <div id="sign-in-form" class="modal-form col-xs-11 hidden">
      <br>
      <%= link_to "Sign In with Facebook", "/auth/facebook", :class => "fbook" %>
      <br>
      
      <br>
      <h5>OR</h5>
      <br>
      
      <%= render 'sessions/new' %>
    </div>
    
    <div id="sign-up-form" class="modal-form hidden col-xs-11 hidden">
      <br>
      <%= link_to "Sign Up with Facebook", "/auth/facebook", :class => "fbook" %>
      <br>
      
      <br>
      <h5>OR</h5>
      <br>
      
      <%= render 'users/form' %>
    </div>
  </div>
</div>