<div id="auth-modal" class="modal">
  <ul class="nav nav-tabs">
    <li id="sign-in-tab" class="modal-tab"><a href="">Sign In</a></li>
    <li id="sign-up-tab" class="modal-tab"><a href="">Join Us</a></li>
  </ul>
  
  <div id="modal-content">
    <br>
    <div id="modal-errors" class="alert alert-danger col-xs-9 hidden"></div>
    
    <div id="sign-in-form" class="modal-form col-xs-11 hidden">
      <br>
      <a href="/auth/facebook"
        class="fbook btn btn-info"
        alt="Sign In with Facebook"></a>
      <br>
      
      <br>
      <h5>OR</h5>
      <br>
      
      <%= render 'sessions/new' %>
    </div>
    
    <div id="sign-up-form" class="modal-form col-xs-11 hidden">
      <br>
      <a href="/auth/facebook"
        class="fbook btn btn-info"
        alt="Sign In with Facebook"></a>
      <br>
      
      <br>
      <h5>OR</h5>
      <br>
      
      <%= render 'users/form' %>
    </div>
  </div>
</div>