<form id="session-form"
  role="form">
  
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <div class="form-group">
    <input id="user_username"
       name="user[username]"
       type="text"
       placeholder="username">
  </div>

  <div class="form-group">
    <input
       id="user_password"
       name="user[password]"
       type="password"
       placeholder="password">
   </div>

  <button id="sign-in-button" type="submit" class="btn btn-info">Welcome Back</button>
</form>



<script type="application/javascript">
  $(function () {
    $("#session-form").on('submit', function (event) {
      event.preventDefault();
      
      var formData = $(event.target).serializeJSON();
      
      $.ajax({
        url: "/session.json",
        type: "post",
        data: formData,
        success: function (response) {
          $("#auth-modal").modal("hide");
          $("#sign-out").removeClass("hidden");

          var $navList = $("#nav-links");
          $navList.empty();
          
          
          var $userLink = $('<li><p class="navbar-text pull-right">Hi, </p></li>');
          $userLink.children().first().append('<a href="/users/' + response.id + '">' + response.username +'</a>')
         
          $navList.append($userLink);
          
          var $favLink = $("<li>")
          $favLink.html("<a href='/users/" + response.id + "/favorites'>❤</a>");
          $navList.append($favLink);

          if(response.shop) {
            var $shopLink = $("<li>");
            $shopLink.html("<a href='/shops/" + 
              response.shop + "'>Your Shop</a>");
              
            $navList.append($shopLink);
          } else {
            $navList.append("<li><a href='/shops/new'>Open a Shop</a></li>");
          }
          
          
        },
        error: function (response) {
          console.log(response)
        }
      });
    });
  });
</script>