<h1>Sign In</h1>

<form action="<%= session_url %>" method="post" role="form">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="user_username">Username</label>
    
    <input id="user_username"
       name="user[username]"
       type="text">
  </div>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="Log in">
</form>