<h1>Cool Vintage Items Go Here</h1>

<% items.each(function (item) { %>
  <span>
    <a href="<%='/items/' + item.id %>">
      <%= item.escape("title") %>
    </a>: $<%= item.get("price") %>
  </span>
<% }); %>
