<h1>Your Profile</h1>

<%= render 'form', :locals => { :user => @user }%>

<br>
<br>
<br>
<form action="<%= user_url(@user) %>" method="post" role="form">
  <input type="hidden"
         name="_method"
         value="delete">
  
  <button type="submit" class="btn btn-danger">
    Close Account
  </button>
</form>