<h1><a href="<%= user_url(@user) %>"><%= @user.username %>'s</a> Favorites</h1>

<div class="well">
  <ul class="switch-fav nav nav-pills">
    <li id="show-items" class="active"><a>Items</a>
    <li id="show-shops"><a>Shop</a>
  </ul>

  <div class="panel">
    <div id="favorite-items">
      <%= @user.favorite_items %>
    </div>

    <div id="favorite-shops" class="hidden">
      <%= @user.favorite_shops %>
    </div>
  </div>
</div>

<script type="application/javascript">
  $(function () {
    $(".switch-fav").on("click", function (event) {
      event.preventDefault();
      
      $("#show-items").toggleClass("active");
      $("#show-shops").toggleClass("active");

      $("#favorite-items").toggleClass("hidden");
      $("#favorite-shops").toggleClass("hidden");
    });
  });
</script>