
  <a href="<%= item_url(item) %>" class="col-md-2 thumbnail">
      <img src="<%= item.primary_photo.url(:thumb) %>" alt="<%= item.title %>">

    <div class="caption">
      <strong><%= item.title %><strong>
    </div>
  </a>
    