<h1>Your Item</h1>

<%= render "form", :locals  => { :item => @item } %>

<br>
<br>
<br>
<form action="<%= item_url(@item) %>" method="post" role="form">
  <input type="hidden"
         name="_method"
         value="delete">
         
  <button type="submit" class="btn btn-danger">
    Delete
  </button>
</form>