<script type="text/json" id="bootstrapped-items">
  <%= Item.all.to_json.html_safe %>
</script>

<script type="text/json" id="bootstrapped-eras">
  <%= Era.all.to_json %>
</script>

<script type="text/json" id="bootstrapped-categories">
  <%= Category.all.to_json %>
</script>

<script type="application/javascript">
  $(function (){
    var items = JSON.parse($("#bootstrapped-items").html());
    
    window.VV.initialize($("#content"), items);
  });
</script>

<div id="content">
</div>