<script type="text/json" id="bootstrapped-eras">
  <%= Era.all.to_json.html_safe %>
</script>

<script type="text/json" id="bootstrapped-categories">
  <%= Category.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function (){
    window.VV.initialize($("#content"));
  });
</script>

<div id="content">
</div>