<script type="text/json" id="bootstrapped-eras">
  <%= Era.all.to_json.html_safe %>
</script>

<script type="text/json" id="bootstrapped-categories">
  <%= Category.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function (){
    window.VV.initialize($("#content"), $("#era-list"), $("#category-list"));
  });
</script>

<div id="browse-opts-box" class="well pull-left">
  <h4>Browse</h4>
  Eras
  <div id="era-list"></div>
  Categories
  <div id="category-list"></div>
</div>

<div id="content">
</div>