.browse {
  display: list-item;
  list-style-type: none;
  padding-bottom: 5px;
  font-size: 12pt;
}

.browse a:hover {
  text-decoration: none;
}

#browse-opts-box {
  width: 190px;
  margin-left: 75px;
  font-weight: bold;
}

#browse-opts-box ul {
  padding-left: 20px;
}