.cart-buttons {
  display: inline-block;
}

.cart-shop {
  margin-left: 40px;
}

.cart-item {
  margin-top: 8px;
}

.cart-item-content {
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
  height: 120px;
  vertical-align: top;
}

.cart-item-info {
  height: 80px;
}

.checkout {
  position: absolute;
  top: 50%;
  right: 7%;
}

.go-to-cart {
  display: none;
}

.subtotal {
  position: absolute;
  right: 7%;
}