.btn-fav, .btn-fav:hover {
  color: #756e69;
}

#favorites-show {
  width: 976px;
  margin-left: 82px;
}

.fav-shop-info {
  display: inline-block;
  width: 300px;
  padding-left: 50px;

}

.fav-shop-owner {
  display: inline-block;
  width: 200px;
}

.heart {
  color: salmon;
}