#favorites-show {
  width: 976px;
  margin-left: 82px;
}

.fav-shop-info {
  display: inline-block;
  width: 300px;
  padding-left: 50px;

}

.fav-shop-owner {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 28px;
}

.btn-fav {
  color: #756e69;
}

.heart {
  color: salmon;
}

.fav-shop-row {
  position: relative;
  vertical-align: middl;
}