.caption {
  font-size: 12px;
}

.dropdown-menu > li {
  text-align: left;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #7DAD9F;
}

.hover-container {
  visibility: hidden;
  position: absolute;
  display: block;
  right: 8px;
  top: 8px;
  border-radius: 4px;
}

#item-description {
  padding: 3px;
}

#item-display-thumbs {
  text-align: center;
}

#item-display-thumbs > .thumbnail {
  margin: 10px;
}

#item-info {
  margin-bottom: 5px;
  padding: 3px;
}

.item-listing-price {
  display: inline-block;
  text-align: right;
  width: 70px;
}

#item-shop-items .item-listing-price {
  text-align: left;
}

#item-shop-items .item-shop-link {
  display: none;
}

#item-shop-items .item-title-link {
  width: 152px;
}

#item-shop-items .listing-card {
  width: 170px;
  height: 170px;
  margin: 7px;
}

#item-shop-items .listing-thumb {
  width: 156px;
  height: 124px;
  display: block;
}

.item-shop-link {
  width: 96px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-show-left {
  margin-left: 75px;
  width: 560px;
}

.item-show-right {
  margin-right: 75px;
  width: 392px;
}

.item-title-link {
  width: 170px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#items-index {
  margin-right: 50px;
}

#items-index-box {
  margin-top: 8px;
  text-align: left;
}

#items-index-well {
  text-align: right;
  width: 784px;
}

.listing-card {
  display: inline-block;
  height: 184px;
  width: 184px;
  padding: 6px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  vertical-align: middle;
  margin: 2px;
  position: relative;
}

.listing-card:hover .hover-container {
  visibility: visible;
  opacity: .7;
}

.listing-drag {
  height: 66px;
  width: 80px;
  padding: 2px;
  margin: 1px;
}

.listing-drag .listing-thumb {
  width: 74px;
  height: 76px;
}

.listing-thumb {
  display: block;
  height: 135px;
  width: 170px;
  margin-bottom: 3px;
}

.thumbnail {
  display: inline-block;
  height: 81px;
  width: 81px;
  padding: 3px;
  vertical-align: middle;
  margin: 1px;
}

#item-question-form {
  width: 300px;
  margin-left: 25px;
}

#question_body {
  display: inline-block;
  margin-bottom: 2px;
}