#browse-opts-box {
  width: 190px;
  margin-left: 75px;
}

.dropdown-menu > li {
  text-align: left;
}

.listing-card {
  display: inline-block;
  height: 184px;
  width: 184px;
  padding: 6px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  vertical-align: middle;
  margin: 2px;
  position: relative;
}

#item-shop-items > .listing-card {
  display: inline-block;
  width: 170px;
  height: 175px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  vertical-align: middle;
  margin: 7px;
  position: relative;
}

.listing-thumb {
  display: block;
  height: 135px;
  width: 170px;
}

#item-shop-items > .listing-card > .listing-thumb {
  width: 156px;
  height: 124px;
  display: block;
}

.thumbnail {
  display: inline-block;
  height: 81px;
  width: 81px;
  padding: 3px;
  vertical-align: middle;
  margin: 1px;
}

#item-display-thumbs {
  text-align: center;
}

#item-display-thumbs > .thumbnail {
  margin: 10px;
}

#items-index {
  margin-right: 50px;
}

#items-index-box {
  margin-top: 8px;
  text-align: left;
}

#items-index-well {
  text-align: right;
  width: 784px;
}

#item-shop-items {
  text-align: center;
}

.item-show-left {
  margin-left: 75px;
  width: 560px;
}

.item-show-right {
  margin-right: 75px;
  width: 392px;
}
