.modal {
  position: fixed;
  bottom: 150px;
  width: 450px;
  height: 550px;
}

#modal-content {
  vertical-align: center;
  overflow: auto;
}

.fbook {
  background-image: url("/assets/fbook_login.png");
  width: 140px;
  height: 31px;
}

.fbook:hover {
  background-image: url("/assets/fbook_login.png");
}

#cute-message {
  margin-top: 40px;
  font-family: "american typewriter", "courier new";
  font-size: 22px;
}