.purchase-item-info {
  display: inline-block;
  text-align: right;
}

.see-more {
  display: inline-block;
  margin-right: 5px;
}

#user-about {
  padding: 3px;
}

.user-purchases {
  margin-bottom: 10px;
}

#user-purchases-box {
  padding-bottom: 1px;
}

.user-show-right {
  margin-right: 100px;
  width: 365px;
}

.user-show-left {
  margin-left: 125px;
  width: 452px;
}